<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delacalle.delacalle.delacalleapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <compatible-screens>

        <!-- all small size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" />
        <!-- all normal size screens -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <!-- all large size screens -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />
        <!-- all xlarge size screens -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge" />
    </compatible-screens>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- android:largeHeap="true"          usar esto usa toda la memoria para la app pero no se recomienda porque podria cerrar otras apps -->
    <application
        android:name=".StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/MyMaterialTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".home_delacalleactivity"
            android:label="@string/title_activity_home_delacalleactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".iniciosesion_delacalleactivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".registro_delacalleactivity"
            android:label="@string/title_activity_registro_delacalleactivity"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".splashscreen_delacalleactivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".agregarrestaurante_delacalleactivity"
            android:label="@string/title_activity_agregarrestaurante_delacalleactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mostrarrestaurante_delacalleactivity"
            android:label="@string/title_activity_mostrarrestaurante_delacalleactivity"
            android:screenOrientation="portrait">

            <!--
         <intent-filter>
             <action android:name="android.intent.action.MAIN" />

             <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
            -->

        </activity>
        <activity
            android:name=".resetearcontrasena_delacalleactivity"
            android:label="@string/title_activity_resetearcontrasena_delacalleactivity"
            android:screenOrientation="portrait" />
        <!--
        <activity android:name=".SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        -->
        <activity
            android:name=".registrarresponsable_delacalleactivity"
            android:label="@string/title_activity_registrarresponsable_delacalleactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".listarestaurantesresponsable_delacalleactivity"
            android:label="@string/title_activity_listarestaurantesresponsable_delacalleactivity"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".menu_pestanas_delacalleactivity"
            android:label="@string/title_activity_menu_pestanas_delacalleactivity"
            android:screenOrientation="portrait">

            <!--
          <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
           &ndash;&gt;
            -->
        </activity>
        <activity
            android:name=".perfilusuario_delacalleactivity"
            android:label="Perfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carta_delacalleactivity"
            android:label="@string/title_activity_carta_delacalleactivity"
            android:screenOrientation="portrait">

            <!--
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
            -->
        </activity>
        <activity
            android:name=".editarrestaurante_delacalleactivity"
            android:label="@string/title_activity_editarrestaurante_delacalleactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detallerestaurante_delacalleactivity"
            android:label="@string/title_activity_detallerestaurante_delacalleactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cartaDetalle_delacalleactivity"
            android:label="@string/title_activity_carta_detalle_delacalleactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".agregarcarta_delacalleactivity"
            android:label="@string/title_activity_agregarcarta_delacalleactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".editarcartarestaurante_delacalleactivity"
            android:label="@string/title_activity_editarcartarestaurante_delacalleactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".resetearcontrasenadesdelogin_delacalleactivity"
            android:label="@string/title_activity_resetearcontrasenadesdelogin_delacalleactivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.instagram.instagramapi.InstagramAppClientId"
            android:value="6d7d18dd19784c67af7fadc0ec8d7dd0" />
        <meta-data
            android:name="com.instagram.instagramapi.InstagramAppRedirectURL"
            android:value="http://delacalle.co" />

        <activity
            android:name=".busquedanombre_delacalleactivity"
            android:label="@string/title_activity_busquedanombre_delacalleactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".busquedaprecio_delacalleactivity"
            android:label="@string/title_activity_busquedaprecio_delacalleactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".busquedacarta_delacalleactivity"
            android:label="@string/title_activity_busquedacarta_delacalleactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".busquedadescripcion_delacalleactivity"
            android:label="@string/title_activity_busquedadescripcion_delacalleactivity" />
        <activity
            android:name=".busquedadireccion_delacalleactivity"
            android:label="@string/title_activity_busquedadireccion_delacalleactivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cc416f7c977e65311203dace98a691feae97fd34" />

        <activity
            android:name=".intro_delacalleactivity"
            android:label="@string/title_activity_intro_delacalleactivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".mostrarcategorias_delacalleactivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".domicilio_delacalleactivity" />
        <activity android:name=".eventos_delacalleactivity" />
        <activity android:name=".promociones_delacalleactivity" />
        <activity android:name=".busquedapromocion_delacalleactivity" />
        <activity
            android:name=".mapa_delacalleactivity"
            android:label="@string/title_activity_mapa_delacalleactivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>